<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/main.css">
    <title>Home</title>
</head>
<body>
    <!-- NAVBAR -->
    <section class="navbar">
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- HERO -->
    <section class="hero">
        <div class="hero__bg">
            <img src="../assets/Img_hero/cafe1.jpg" alt="imagen de barterder sirviendo cafe"  class="active">
            <img src="../assets/Img_hero/cafe2.jpg" alt="imagen del menu del cafe bar">
            <img src="../assets/Img_hero/cafe3.jpg" alt="imagen de lugar de los comensales">
        </div>

        <div class="hero__overlay"></div>

        <div class="hero__content">
            <h1>Café Ritual</h1>
            <p>Donde cada taza cuenta una historia</p>
        </div>
    </section>
</body>
</html>